/* Aspekta */
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-50.woff2') format('woff2');
  font-weight: 50;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-150.woff2') format('woff2');
  font-weight: 150;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-250.woff2') format('woff2');
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-350.woff2') format('woff2');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-450.woff2') format('woff2');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-550.woff2') format('woff2');
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-650.woff2') format('woff2');
  font-weight: 650;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-750.woff2') format('woff2');
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-850.woff2') format('woff2');
  font-weight: 850;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-950.woff2') format('woff2');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aspekta';
  src: url('../fonts/Aspekta-1000.woff2') format('woff2');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

/* Thunder */
@font-face {
  font-family: 'Thunder';
  src: url('../fonts/Thunder-HC.woff2') format('woff2'),
       url('../fonts/Thunder-HC.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thunder';
  src: url('../fonts/Thunder-BoldHC.woff2') format('woff2'),
       url('../fonts/Thunder-BoldHC.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thunder';
  src: url('../fonts/Thunder-LC.woff2') format('woff2'),
       url('../fonts/Thunder-LC.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thunder';
  src: url('../fonts/Thunder-BoldLC.woff2') format('woff2'),
       url('../fonts/Thunder-BoldLC.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Icons */
@font-face {
  font-family: 'bootstrap-icons';
  src: url('../fonts/bootstrap-icons.woff2') format('woff2'),
       url('../fonts/bootstrap-icons.woff') format('woff');
}
@font-face {
  font-family: 'Font Awesome 6 Brands';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'),
       url('../fonts/fa-brands-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Font Awesome 6 Free';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'),
       url('../fonts/fa-regular-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Font Awesome 6 Free';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'),
       url('../fonts/fa-solid-900.ttf') format('truetype');
}
